#tetris
{
    text-align: center;
}

div#tetris
{
    display: inline-block;
    border: thick black solid;
    padding: 0.25em;
    border-radius: 1em;
    background-color: lightgray;
}

#tetris div.row
{
    display: block;
}

#tetris div.row span.cell
{
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.1em;
    border-radius: 0.5em;
    border: thin black solid;
    background-color: lightblue;
}

#tetris div.row span.cell[block="empty"]
{
    opacity: 0;
}

#tetris div.row span.cell[block="O"]
{
    background-color: yellow;
}

#tetris div.row span.cell[block="I"]
{
    background-color: lightblue;
}

#tetris div.row span.cell[block="S"]
{
    background-color: green;
}

#tetris div.row span.cell[block="Z"]
{
    background-color: red;
}

#tetris div.row span.cell[block="L"]
{
    background-color: orange;
}

#tetris div.row span.cell[block="J"]
{
    background-color: blue;
}

#tetris div.row span.cell[block="T"]
{
    background-color: purple;
}
